:root {
    --thin:        100;
    --extra-light: 200;
    --light:       300;
    --regular:     400;
    --medium:      500;
    --semi-bold:   600;
    --bold:        700;
    --extra-bold:  800;
    --black:       900;

    --pacifico: Pacifico, serif;
    --cor-principal: #FF746E;
    --cor-secundaria: #1F294C;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #FCF8F7;
    color: #7A7D86;
}

.root {
    background-color: #FCF8F7;
}

.border-radius-0 {
    border-radius: 0 !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- header -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

header {
    position: sticky;
    top: 0;
    z-index: 1024;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social {
    height: 30px;
    width: 30px;
    background-color: var(--cor-principal);
    transition: all 200ms;
}

.social:hover {
    background-color: var(--cor-secundaria);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-12 {
    font-size: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.redes-sociais {
    width: 110px;
}

.nav-link {
    font-weight: var(--semi-bold);
    color: var(--cor-secundaria) !important;
}

.nav-link:not(:first-child):not(.nav-link:nth-child(5)) {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-link:first-child {
    padding-right: 25px !important;
}

.nav-link:nth-child(5) {
    padding-left: 25px !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- banner -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.banner-img {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
}

.banner-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-text {
    font-size: 27px;
    line-height: 37px;
    color: #fff;
    display: inline-block;
    position: relative;
    align-self: center;
    max-height: 111px;
}

.banner-text::after {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    width: 70px;
    height: 2px;
    background-color: #FF3D34;
}

.cervanttis {
    font-size: 150px;
    line-height: 360px;
    color: #fff;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- bem-vindo -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.bem-vindo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.greeting {
    line-height: 27px;
}

.greeting-1 {
    font-size: 24px;
    color: var(--cor-secundaria);
}

.greeting-2 {
    color: var(--cor-principal);
}

.vamos-conversar {
    font-size: 14px;
    font-weight: var(--semi-bold);
    background-color: var(--cor-principal);
    color: #fff;
    height: 45px;
    width: 180px;
}

.vamos-conversar:hover {
    color: #fff;
    background-color: var(--cor-secundaria);
}