:root {
    --thin:        100;
    --extra-light: 200;
    --light:       300;
    --regular:     400;
    --medium:      500;
    --semi-bold:   600;
    --bold:        700;
    --extra-bold:  800;
    --black:       900;

    --pacifico: Pacifico, serif;
    --cor-principal: #FF746E;
    --cor-secundaria: #1F294C;

    --fundo-1: #FCF8F7;
    --fundo-2: #fbfbfb;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #7A7D86;
}

.root {
    background-color: #FCF8F7;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.bg-main {
    background-color: var(--cor-principal);
}

.bg-sec {
    background-color: var(--cor-secundaria) !important;
}

.text-main {
    color: var(--cor-principal) !important;
}

.text-sec {
    color: var(--cor-secundaria) !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-27 {
    font-size: 27px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-56 {
    font-size: 56px !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- SubLinhado -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.pacifico-title {
    font-family: var(--pacifico);
    font-weight: 300;
    position: relative;
}

.pacifico-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 2px;
    border-radius: 99px;
}

.line-red::after {
    background-color: #FF3D34 !important;
}

.line-main::after {
    background-color: var(--cor-principal) !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-27 {
    font-size: 27px !important;
    line-height: 44px !important;
}

.fs-48 {
    font-size: 48px !important;
    line-height: 81px !important;
}

.fs-56 {
    font-size: 56px !important;
    line-height: 95px !important;
}


/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- header -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

header {
    position: sticky;
    top: 0;
    z-index: 1024;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.05)  0 5px 75px;
}

.social {
    height: 30px;
    width: 30px;
    background-color: var(--cor-principal);
    transition: all 200ms;
}

.social:hover {
    background-color: var(--cor-secundaria);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    width: 110px;
}

.nav-link {
    font-weight: var(--semi-bold);
    color: var(--cor-secundaria) !important;
}

.nav-link:not(:first-child):not(.nav-link:nth-child(5)) {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-link:first-child {
    padding-right: 25px !important;
}

.nav-link:nth-child(5) {
    padding-left: 25px !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- banner -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.banner-img {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
}

.banner-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-text {
    font-size: 27px;
    line-height: 37px;
    color: #fff;
    display: inline-block;
    position: relative;
    align-self: center;
    max-height: 111px;
}

.banner-text::after {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    width: 70px;
    height: 2px;
    background-color: #FF3D34;
}

.cervanttis {
    font-size: 150px;
    line-height: 360px;
    color: #fff;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- bem-vindo -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.bem-vindo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding-right: 14px;
    padding-left: 14px;
}

.greeting {
    line-height: 27px;
}

.greeting-1 {
    font-size: 24px;
    color: var(--cor-secundaria);
}

.greeting-2 {
    color: var(--cor-principal);
}

.vamos-conversar {
    font-size: 14px;
    font-weight: var(--semi-bold);
    background-color: var(--cor-principal);
    color: #fff;
    height: 45px;
    width: 180px;
}

.vamos-conversar:hover {
    color: #fff;
    background-color: var(--cor-secundaria);
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- propósito -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

#meu-proposito {
    height: 425px;
    display: flex;
    align-items: center;
}

.proposito-titulo {
    font-size: 25px;
    font-weight: var(--semi-bold);
    color: #fff;
}

#coracao {
    height: 45px;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- prévia posts -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

#previa-posts {
    margin-top: 110px;
}

.prev-item {
    width: 100%;
    height: 280px;
    transition: transform ease 500ms;
}


.linha-1 {
    color: #fff;
    font-family: var(--pacifico);
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
}

.linha-2 {
    color: #fff;
    font-weight: var(--semi-bold);
    font-size: 100px;
    line-height: 100px;
}

.linha-3 {
    color: #fff;
    font-size: 20px;
}

.pacifico-title.fs-48 {
    margin-bottom: 0 !important;
}

.pacifico-title.fs-27::after {
    width: 65px;
}

ul {
    list-style-type: none;
}

.lista-conteudo {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
}

.conteudo-link {
    text-decoration: none;
    color: #7A7D86;
}

.conteudo-link:hover {
    color: var(--cor-secundaria);
}

.post-title {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    margin-bottom: 0;
    transition: transform 500ms ease;
}

.img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 57%);
    opacity: 0;
    transition: opacity 500ms ease;
}

.post-col {
    cursor: pointer;
}

.post-col:hover .img-overlay {
    opacity: 1;
}

.post-col:hover .prev-item {
    transform: scale(1.1);
}

.post-col:hover .post-title {
    transform: translateY(-5px);
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- últimos eventos -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

#ultimos-eventos {
    margin-top: 140px;
    height: 550px;
    background-color: var(--fundo-2);
}

#eventos-heading {
    margin-bottom: 0 !important;
}

#carrossel {
    margin-top: 66px;
}

.chevron {
    transition: color 250ms ease;
}

.carousel-control-prev, .carousel-control-next {
    width: 30px;
    height: 30px;
    opacity: 1;
    top: 50%;
    margin-top: -15px;
    transition: background-color 250ms ease;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: var(--fundo-1);
}

.carousel-control-prev:hover, .carousel-control-next:hover .chevron {
    color: var(--cor-principal) !important;
}

.evento {
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.05)  0 5px 75px;
}

#eventos-row {
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
}

.event-content {
    padding-left: 20px;
    padding-right: 20px;
}

#ver-mais {
    margin-bottom: 0 !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- quem sou eu -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

#quem-sou-eu {
    padding-top: 140px;
    padding-bottom: 240px;

}

.foto-rafaela {
    margin-top: 34px;
}

.foto-footer {
    height: 60px;
    background-color: var(--cor-principal);
    color: #fff;
    font-size: 20px;
}

.photo {
    width: 100%;
    height: auto;
}

#sobre-mim-text {
    padding-top: 50px;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- insta -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.siga-no-insta {
    height: 194px;
    width: 194px;
    background-color: var(--cor-principal);
}

.logo-insta {
    font-size: 40px;
}

#insta-container {
    transform: translateY(-97px);
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- fale conosco -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

.fale-conosco-title {
    font-family: Pacifico, serif;
    font-weight: 300;
    color: var(--cor-secundaria);
    font-size: 56px;
    margin-bottom: 0;
}

.fale-conosco-sub {
    color: var(--cor-principal);
    font-size: 20px;
}

#fale-conosco {
    padding-bottom: 115px !important;
}

.fale-conosco {
    position: relative;
}

.fale-conosco::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
    border-radius: 99px;
    background-color: var(--cor-principal);
}

.text-input {
    background-color: #FCFCFC;
    border-color: #F1F1F1;
    height: 50px;
}

textarea {
    background-color: #FCFCFC !important;
    border-color: #F1F1F1 !important;
}

/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- fale conosco -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/

footer {
    height: 75px;
    background-color: var(--cor-secundaria);
}


/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
    /*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=- post -=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-*/
/*-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/

.post-heading {
    font-family: var(--pacifico);
    font-size: 72px;
    font-weight: 300;
    color: var(--cor-secundaria);
    text-align: center;
    margin-top: 60px;
}

#post-date-row::before, #post-date-row::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #FF3D34;
    border-radius: 99px;
}

.post-date {
    color: var(--cor-principal);
    font-size: 14px;
    position: relative;
    padding-right: 10px;
}

.calendar-icon {
    padding-left: 10px;
}

.destaque-img {
    margin-top: 65px !important;
}

.fundo {
    height: 350px;
    background-color: var(--fundo-1);
}

section p {
    font-size: 20px;
    color: var(--cor-secundaria);
    margin-bottom: 40px;
}

.main-text {
    margin-top: 350px;
}

blockquote {
    width: 720px;
    margin: 60px auto;
    color: var(--cor-secundaria);
    font-size: 25px;
    font-style: italic;
    position: relative;
}

blockquote::before {
    content: url("/img/aspas.svg");
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -50px;
}